<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Product")">Inventory Management</a>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
